<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Shopping Cart</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/portal">Wamazon</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <!-- This will be populated with the current user's name -->
            <li class="nav-item">
                <div th:text="${'Hello, ' + currUsername + '!'}"></div>
            </li>
        </ul>
    </div>
    <div class="my-2 my-lg-0">
            <a href="/notifications" class="btn btn-primary">View Notifications</a>
        </div>
</nav>
<div class="container mt-4">
    <h1>Shopping Cart</h1>
    
    <!-- Cart Items -->
    <div th:if="${not #lists.isEmpty(cartItems)}">
        <table class="table">
            <thead>
                <tr>
                	<th>Product ID</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                 <!-- Iterate over each item in the shopping cart -->
            <tr th:each="entry : ${cartItems}">
                <td th:text="${entry.key}"></td>
                <td th:text="${entry.value.name}"></td>
                <td th:text="${entry.value.price}"></td>
                <td>
                    <!-- Remove Button -->
                    <form th:action="@{/remove-item}" method="post">
                        <input type="hidden" name="uuid" th:value="${entry.key}" />
                        <button type="submit" class="btn btn-danger btn-sm">Remove</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        
        <!-- Total Sum of Prices -->
        <div class="text-right">
            <h4>Total: $<span th:text="${totalSum}"></span></h4>
        </div>
        
        <!-- Pay Now Button -->
        <div class="text-center">
            <a href="/payment" class="btn btn-primary btn-lg">Pay Now</a>
        </div>
    </div>
    
    <!-- Empty Cart Message -->
    <div th:if="${#lists.isEmpty(cartItems)}">
        <p>Your shopping cart is empty.</p>
    </div>
</div>

</body>
</html>
