<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Wamazon</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/portal">Wamazon</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item">
                <div th:text="${'Hello, ' + currUsername + '!'}"></div>
            </li>

        </ul>
        <!-- Links -->
        <div class="my-2 my-lg-0">
            <a class="btn btn-outline-primary mr-2" href="/item-form" role="button">Add Item</a>
            <a href="/notifications" class="btn btn-primary">View Notifications</a>
            <a class="btn btn-outline-primary" role="button" id="cartBtn" href="/cart" >
                Shopping Cart <span class="badge badge-pill badge-success" id="cartCounter" th:text="${cartCounter}" ></span>
            </a>
        </div>
    </div>
</nav>

<!-- Containers -->
<div class="container mt-4">
    <div class="row">
        <!-- Iterate over each Product in the list -->
        <div th:each="product : ${products}" class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <!-- Product Image (if you have one) -->
                <!-- <img class="card-img-top" th:src="${product.imageUrl}" alt="Product Image"> -->
                <div class="card-body">
                    <!-- Product Name -->
                    <h4 class="card-title" th:text="${product.name}"></h4>
                    <img th:src="${product.image}" class="card-img-top" alt="Product Image">
                    <!-- Product Price -->
                    <h5 th:text="'$' + ${product.price}"></h5>
                    <p th:text="${product.description}"></p>
                </div>
                <!-- Add to Cart Button -->
                <div class="card-footer">
                    <button class="btn btn-primary btn-block" th:onclick="'addToCart(' + ${product.id} + ')'" type="button">
                        Add to Cart
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    function addToCart(productId) {
        // AJAX POST request to add the product to the cart
        var url = '/add-to-cart/' + productId;

        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                productId: productId,
            }),
        }).then(function(response) {
        	debugger;
 			window.location.reload();
            console.log("Product with ID " + productId + " added to cart");
        }).catch(function(error) {
            console.error('Error:', error);
        });
    }
</script>

</body>
</html>
